/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  max-width: 1500px;
  font-size: 62.5%;
  margin: auto;
}
body {
  grid-template-columns: 75% auto auto auto;
  position: absolute;
  display: grid;
  grid-template-areas: 'header header header header header header' 'main main main main main main' 'main2 main2 main2 main2  ' 'footer footer footer footer footer footer';
  padding: 0;
}
body .Headr {
  display: inline-block;
  grid-area: header;
  background-image: url('/img/chefs3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15%;
  padding-bottom: 25%;
}
@media '(max-width: 500px)' {
  body .Headr {
    width: 30%;
  }
}
body .MCont {
  grid-area: main;
  display: inline-block;
}
body .MCont2 {
  display: inline-grid;
  grid-area: main2;
}
body .chef {
  background-image: url('/img/chefs2.jpg');
  background-position: center;
  background-size: cover;
}
body .food {
  background-image: url('/img/food.jpg');
  background-position: center;
  background-size: cover;
}
body .ingredients {
  background-image: url('/img/ingredients.jpg');
  background-position: center;
  background-size: cover;
}
body .recipes {
  background-image: url('/img/recipes.jpg');
  background-position: center;
  background-size: cover;
}
body .MCont,
body .MCont2,
body .food,
body .chef,
body .recipes,
body .ingredients {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
}
body .Footr {
  grid-area: footer;
}
@media '(max-width: 500px)' {
  body {
    grid-template-areas: 'header header header header header header' 'main2 main2 main2 main2  ' 'main main main main main main' 'footer footer footer footer footer footer';
  }
}
.MSplash {
  display: grid;
  grid-template-areas: 'sheader  ' 'scontent  ' 'sfooter  ';
  border: none;
}
.MSplash img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.MSplash .splashHed {
  position: absolute;
  grid-area: sheader;
}
.MSplash .splashCont {
  position: absolute;
  grid-area: scontent;
}
div {
  text-align: center;
  grid-gap: 10px;
  padding: 10px;
  border: 1px solid grey;
}
div #searchbar {
  float: right;
}
article img {
  width: 40%;
  float: left;
}
.content {
  text-align: left;
  margin-left: 50%;
}
h1 {
  font-family: 'Roboto Mono';
  font-size: 9rem;
}
p {
  font-family: 'PT Mono';
  font-size: 3rem;
}
button {
  width: 30rem;
  height: 20rem;
}
img {
  width: 100%;
}
#cheflg {
  width: 100px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li button {
  display: block;
  padding: 8px;
}
