
//containers

html {

    max-width: 1500px;

    font-size: 62.5%;
    margin: auto;

    
    
}

body {


.bodyDisp(@bgImg);
.mainDisp();


@media screen  and (max-width: 500px){

    .bodyDisp(none)
    
}

}

.MSplash {


    .SplashDisp();

}

div {


    grid-gap: 10px;
padding: 10px;
border: 5px solid rgb(202, 202, 202);
background-color: brown;
text-align: center;

@media screen and (max-width: 500px){
    
    grid-gap: 0;
    padding: 0;

}


}






div #searchbar {

    float: right;

}
article img {

    width: 40%;
    float: left;

       
    @media screen and (max-width: 500px){
        
        Width: 0;
        float: none;

    }

}

.content {

    text-align: left;
    margin-left: 50%;

    @media screen and (max-width: 500px){

        text-align: center;
        margin-left: 0;
        
    }

}







//Text

h1 {

    .fontDisp (@headerfam, 9rem);


    @media screen  and (max-width: 500px){


        .fontDisp (@headerfam, 6rem);

        


    }
}

p {

    .fontDisp (@fontfam, @fontsize);

    @media screen  and (max-width: 500px){


        .fontDisp (@headerfam, 2.5rem);

        


    }

}

article p {


    color: black;
  
  }



.contDesc p {

    .fontDisp (@fontfam, 1.9rem);
    text-align: left;
    text-indent: 6rem;
   
    @media screen and (max-width: 500px){
        
        text-indent: 0;

    }    

}


//Buttons, images, links


button {
    
    width: 30rem;
    height: 20rem;
    color: #361f00;
    text-shadow: 5px 4px white;
    font-size: 5rem;
    opacity: 50%;


    @media screen  and (max-width: 500px){

        width: 50rem;
        height: 5rem;
      


    }

}

button:hover {


    opacity: 100%;

}

img {

    width: 100%;

    @media screen and (max-width: 500px){
        
        width: 0;

    }
 
}

#cheflg {

    width: 100px;

}
    
#cheflg2 {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

 
 a {

    
    .fontDisp (@fontfam, 2.3rem);
    padding: 5%;
    text-decoration: none;
    color: tan;


 }
   


  
