html {

    font-size: 62.5%;

    
}

body {

.bodyDisp();
.mainDisp();

}

div {

    max-width: 100%;
   text-align: center;
    grid-gap: 10px;
padding: 10px;
border: 1px solid grey;
}

h1 {

    .fontDisp (@headerfam, 9rem);
}

p {

    .fontDisp (@fontfam, @fontsize);

}
    
   


  
