 #headr1, #mobilehed {

    display: none;

@media screen and (max-width: 500px) {

display: block;


}
}



  #headr2, #desktophed {

    display: block;

    @media screen and (max-width: 500px) {
    
    display: none;
    
    
    }

}