
.mainDisp(){

display: grid;
grid-template-areas: 

'header header header header header header'
'main main main main main main '
'main2 main2 main2 main2 main2 main2 '
'footer footer footer footer footer footer'
;

justify-content: center;

}

.bodyDisp(){

  
.Headr { 
  
  grid-area: header;
 
}
.MCont { grid-area: main; }
.MCont { grid-area: main2; }
.Footr { grid-area: footer; }

}


.fontDisp (@ffam, @fsize) {

  font-family: @ffam;
  font-size: @fsize;

        

}

