


.fontDisp (@ffam, @fsize) {

  font-family: @ffam;
  font-size: @fsize;
  color: tan;



}


.SplashDisp(){

  
  display: grid;
  grid-template-areas: 
  
  'sheader  '
  'scontent  '
  'sfooter  '
  ;
  border: none;
  
  img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }

  .splashHed {


    position: absolute;
    grid-area: sheader;
  
  }
  
  
  .splashCont {
  
    position: absolute;
    grid-area: scontent;
  
  }  

}



.mainDisp(){

  position: relative;
display: grid;
grid-template-areas: 

'header header header header header header'
'main main main main main main'
'main2 main2 main2 main2  '
'footer footer footer footer footer footer'
;

@media screen and (max-width: 500px) {

  display: flex;
  grid-template-areas: none ;
   
  padding: 0;

}

padding: 2rem;

}

.bodyDisp(@bg){


  
.Headr { 
  
  
  display: inline-block;
  grid-area: header;
  background-image: @bg;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 15%;
  padding-bottom: 25%;
  margin: auto;
  border: none;


  @media screen and (max-width: 500px){
    
padding-top: 0;
padding-bottom: 0;

  }

 


 
 

}


.MCont { grid-area: main; display: inline-block;}
.MCont2 { 

  
  display: inline-grid;
  grid-area: main2;
  
  
}

div .MCont, .MCont2 {

background-color: white;

}


.MCont img  {


@media screen and (max-width: 500px) {
  
display: none;

}


}


 .chef {

 background-image: url('/img/chefs2.jpg');
 background-position: center;
 background-size: cover;
 

}

.food {


  background-image: url('/img/food.jpg');
  background-position: center;
  background-size: cover;

}

.ingredients {


  background-image: url('/img/ingredients.jpg');
  background-position: center;
  background-size: cover;

}

.recipes {

  background-image: url('/img/recipes.jpg');
  background-position: center;
  background-size: cover;


}






 .Headr,.MCont, .MCont2, .food, .chef, .recipes, .ingredients {


    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
    border: none;


}



.Footr {

  grid-area: footer;
  margin: auto;

}


}


  

